@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i&display=swap');

@import 'normalize-scss/sass/normalize';

@import 'colors';
@import 'scheme';
@import 'bulma/bulma.sass';

@import 'components/frello-board';
@import 'components/frello-column';
@import 'components/frello-card';

*,
::before,
::after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
